asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
cffi==1.17.1
constantly==23.10.4
cryptography==44.0.2
daphne==4.1.2
Django==5.2
django-crispy-forms==2.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
Pillow
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
PyHamcrest==2.1.0
pyOpenSSL==25.0.0
pytz==2020.5
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.3
Twisted
txaio==23.1.1
zope.interface==7.2
