body {
  /*background: fafafa;*/
  color: #333333;
}

body {
  font-family: "Acme", sans-serif;
  overflow: hidden;
}

nav {
  border-bottom: 3px solid rgb(186, 103, 253);
}

#wizz-logo {
  width: 50px;
  height: 50px;
}

.masthead {
  height: 100vh;
  min-height: 300px;
  background-image: url("/static/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.q-masthead {
  /*color: rgb(186, 103, 253);*/
  color: #fff;
  background-color: #000000a3;
  padding: 4%;
}

header h1 {
  font-size: 4rem;
}

.icon-magic-wand {
  background-image: url("/static/magic-wand.png");
  height: 25px;
  width: 25px;
}
