{% extends "my_profile/base.html" %}

{% load static %}

{% block content %}
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Chaiwat
                        <span class="text-primary">Chaobaankoh</span>
                    </h1>
                    <hr>
                    <div class="subheading mb-5">
                        <p class="mb-0">Date of Birth: 26th MAR 1990</p>
                        <p class="mb-0">150/57 Moo.13 Soi.Phetkasame 93 Omnoi
                        Krathum baen Samutsakorn</p>
                        <p class="mb-0">Phone number: 097-178-4799</p>
                        <a href="mailto:name@email.com">c.chaiwat.ch@gmail.com</a>
                    </div>
                    <p class="lead mb-3">I am softwere developer, system
                    programming working on web applications and web
                    infrastructure.I have been developing for 4 years.</p>
                    <p class="lead mb-5">A day in my life may consist of: fixing
                    some front-end bugs, adding an core factory API endpoint,
                    database design, maintain in-house softwere like ERP
                    system and develop new feature for it, setting up a build or deployment plan</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://github.com/cckcoder" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="http://demo.codewizz.org" target="_blank" title="My demo site"><i class="fas fa-folder-open"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Developer & System Programming</h3>
                            <div class="subheading mb-3">Salamander Jewelry</div>
                            <p>
                                At my current position,I work like a
                                full stack, I am doing front-end development
                                with HTML, CSS, Javascript (Vue, Jquery) and
                                back-end development with Laravel, Codeigniter,
                                Falcon web framework, FastAPI, NodeJS and help Shopping
                                team for Django
                            </p>
                            <p>Role and Responsibility:</p>
                            <ul>
                                <li>Maintain and updateing <a
                                        href="https://www.shininglight-piercing.com"
                                        target="_blank">SLBJ.</a> This shopping
                                    website for company.</li>
                                <li>Implement a RESTful API which is connected
                                    to by front end which is a web applications</li>
                                <li>Maintain and improve in-house software</li>
                                <li>Suport SEO for marketing team.</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2019 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">System Programming</h3>
                            <div class="subheading mb-3">Salamander Jewelry</div>
                            <p>I was working on Factory
                            ERP softwere, it written by Codeigniter, I add a lot of
                            feature and maintain the system. We use technology
                            such as: Redis, Mysql, SQL Server, CouchDB, PHP,
                            Jquery, Bootstrap. We have report control system use
                            python and I had opportunity to work on this
                            project also</p>
                            <p>Some of my web apps included: mobile/desktop
                            business dashboards, KPI worker, Worker Capacity,
                            Sale report, applications for support CRM and
                            sale team report of business, report auto
                            generated for report we use python</p>
                            <p>Role and Responsibility:</p>
                            <ul>
                                <li>Develop softwere and feature support to
                                    production team.</li>
                                <li>Collaborated with department managers to create monthly reports for workforce plannin</li>
                                <li>Maintain and improve database performance.</li>
                                <li>Maintain and improve code base</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span
                                class="text-primary">January 2017 - March 2019</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">RAJAMANGALA UNIVERSITY OF TECHOLOGY RATTANAKOSIN</h3>
                            <div class="subheading mb-3">Bachelor of Business</div>
                            <div>Business Information Technology</div>
                            <p>GPA: 3.25</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2011</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row
                        justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">THONBURI COMMERCIAL COLLEGE (High Voc. Cert.)</h3>
                            <div class="subheading mb-3">Computer Business</div>
                            <p>GPA: 2.92</p>
                        </div>
                        <div class="flex-shrink-0"><span
                                class="text-primary">2009</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">THONBURI COMMERCIAL COLLEGE (Voc. Cert.)</h3>
                            <div class="subheading mb-3">Computer</div>
                            <p>GPA: 2.82</p>
                        </div>
                        <div class="flex-shrink-0"><span
                                class="text-primary">2007</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-0">Programming Languages</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            HTML, CSS and Javascript
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Vuejs, Jquery
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            PHP, Laravel, Codeigniter
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Python, Flask, Falcon web framework, FastAPI, Django
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            NodeJS, Express
                        </li>
                    </ul>
                    <div class="subheading mb-0">Database</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SQL Server
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            MySql, MariaDB
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            PostgreSql
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Redis
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            CouchDB
                        </li>
                    </ul>
                    <div class="subheading mb-0">Tools & System</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Linux: Debian for Server, Manjaro for development
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Docker & Docker Compose
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Git & <a
                                href="https://en.wikipedia.org/wiki/Mercurial"
                                target="_blank">Mercurial</a>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <a href="https://en.wikipedia.org/wiki/Redmine" target="_blank">Redmine</a> for project management
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Favorite Text Editor:
                            <a href="https://www.vim.org/"
                                target="_blank">VIM</a>,&nbsp;
                            <a href="https://github.com/neovim/neovim"
                                target="_blank">Neovim</a>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <a href="https://en.wikipedia.org/wiki/Tmux"
                                target="_blank">TMUX</a>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-bolt text-info"></i></span>
                            Learn and Research new technology.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-bolt text-info"></i></span>
                            Improve Soft skill (like a Life-Long Learning).
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-bolt text-info"></i></span>
                            Workout.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-bolt text-info"></i></span>
                            Judo (Yes, I'm judoka).
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-bolt text-info"></i></span>
                            Read a book.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-bolt text-info"></i></span>
                            Travel and Find awesome coffee shop and restaurant.
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="Pride">
                <div class="resume-section-content">
                    <h2 class="mb-5">The Pride</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Join with <a
                                href="https://www.facebook.com/codekidsTH/?hc_ref=ARRXtLal17LlofvTUqHgizyNUDjL80bqxOwSjW6oflhHKFygMCzRqL3zrAB4oyWYot0&fref=nf&__tn__=kC-R"
                                target="_blank">CodeKids</a> and Teach the kids
                            coding with python and help kids feel fun about
                            programming and computation thinking.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Collaborated with <a href="https://stackpython.co" target="_blank">STACK PYTHON</a>
                            <ul>
                                <li>Be a Teacher Assistant to teach Python Web Development with Django Framework Course
                                (Buriram Rajabhat University)
                                </li>
                                <li>Write content for STACK PYTHON blog
                                    <a href="https://stackpython.co/authors/yai-codewizz" target="_blank">My content</a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=n7PbqVdnybw" target="_blank">FastAPI (Crash Course)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
{% endblock content %}
