{% extends "blog/base_index.html" %}
{% load static %}

{% block content %}
<header class="masthead">
  <div class="container h-75">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center q-masthead">
        <h1>Welcome to CodeWizz</h1>
        <h3 class="lead">Coding is so cool!</h3>
        <div>
            <i class="fa fa-code" aria-hidden="true"></i>
            &nbsp;
            <span class="lead"> Develop </span>
            <span class="lead">Learn</span>
            <span class="lead">and Play</span>
            <i class="fa fa-code" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
